# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/bien-comun-web/FileContentIndex/5d3ca83e-45b8-4722-a8d5-95975cc60f60.vsidx
.vs/bien-comun-web/FileContentIndex/74d7e1a7-f2e6-432c-9d69-6d214546e95a.vsidx
.vs/bien-comun-web/FileContentIndex/34633d0d-3464-4557-a811-c8444f041aed.vsidx
.vs/bien-comun-web/FileContentIndex/c6e79349-722b-4e0a-89d3-b5ce0c941c0f.vsidx
.vs/bien-comun-web/FileContentIndex/d79a887c-f333-4b77-971e-ffbec31abb81.vsidx
.vs/bien-comun-web/v17/.wsuo
