@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --background: theme('colors.background');
  --foreground: theme('colors.textPrimary');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: theme('fontFamily.sans');
  font-size: 16px;
  color: var(--foreground);
  background-color: var(--background);
}